* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

html, body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  }

div.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
  > .col, > [class*="col-"]

{
  padding-right: 0;
  padding-left: 0;
}

}



.home {
  background: url("../assets/images/taxi.jpg") no-repeat center bottom fixed;
  background-size: cover;
  position: relative;
  display: table;
  width: 100%;
  
}

div.jumbotron.col-md-5.offset-md-7 {
  margin-top: 150px;
  margin-bottom: 150px;
  padding: 30px 50px;
  background-color: #FFC107;
  border-radius: 0rem;
  color: white;
}

h1.display-4 {
  font-size: 35px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

h2.lead {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 30px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

a.btn {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid white;
}

.separator::before {
  margin-right: 4em;
}

.separator::after {
  margin-left: 4em;
}

section.app, section.place {
  background-color: #FFC107;
  color: white;
  padding: 45px 0;
  margin-left: 0;
  margin-right: 0;
}

.phone {
  width: 65%;
  position: inherit;
}

p {
  font-size: 23px; 
  }

.conductor {
  background: url("../assets/images/conduce.jpg") no-repeat center center;
  background-size: cover;
  position: inherit;
  display: table;
  width: 100%;
  }

div.jumbotron.jumbotron-fluid {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  padding: 60px 0 180px 30px;
}

a.btn.btn-warning {
  color: white;
  }

iframe {
  width: 450px;
  height: 450px;
  border: 0;
  margin-top: 10px;
}

.map{
  width:470px;
  height:470px;
}

.input-group-i{
  margin: 10px;
}

section.footer {
  background-color: #2B2B2B;
  color: white;
  padding: 80px 100px;
  margin-left: 0;
  margin-right: 0;
}

div.bottom hr, div.top hr{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid white;
}

a {
  font: normal 14px arial,verdana;
}

li{
  margin: 15px 0;
  
}

  li a {
    color: white;
  }