* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

  *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  }


.home {
  background: url("../assets/images/taxi.jpg") no-repeat center bottom fixed;
  background-size: cover;
  position: relative;
  display: table;
  width: 100%;
  
}

div.jumbotron {
  margin-top: 150px;
  margin-bottom: 150px;
  background-color: #FFC107;
  border-radius: 0rem;
  color: white;
  padding: 2.5rem 2.5rem;
  
  
}

h1.display-4 {
  font-size: 35px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

h2.lead {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 30px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

a.btn {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid white;
}

.separator::before {
  margin-right: 4em;
}

.separator::after {
  margin-left: 4em;
}

.logo-blanco{
  width: 100px;
  height: 100%;
}

.app {
  background-color: #FFC107;
  color: white;
  padding-top: 45px;
  padding-bottom: 45px;
  }

p {
  font-size: 23px; 
}

.conductor {
  background: url("../assets/images/conduce.jpg") no-repeat center center;
  background-size: cover;
  position: inherit;
  display: table;
  width: 100%;
  }

div.jumbotron.jumbotron-fluid {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 0;
  
}

a.btn.btn-warning {
  color: white;
  }

 